body{
    text-align: center;
    background-image: url("https://images.pexels.com/photos/62269/pexels-photo-62269.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
    color: black;
    font-family: helvetica;
    background-size: cover;
    background-position:center; 
    background-repeat: no-repeat;
    
    
}

img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
p{
    font-size: 22px;
}
input{
    border: 0;
    padding: 10px;
    font-size: 18px;
}
input[type="submit"]{
    color:white;
    background-color:red ;
}